* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
} 

body {
  /* height: 100vh; */
  background-image: url('./img/yappr-background-image.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: 50px;
}

main.dashboard {
  padding: 0;
}

.hidden {
  display: none;
}

button, input {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

/* logos & icons */
.icon-large {
  width: 400px;
  display: block;
  margin: 0 auto 0;
  border-radius: 8px 8px 0 0;
}

.icon-small {

  height: 100px;
  /* display: block; */
  margin: 0;
}

/* login and signup forms */
.login-form {
  width: 400px;
  padding: 0 40px 10px;
  border-radius: 0 0 8px 8px;
  background-color: #F2EDED;
  margin: 0 auto;
}

.login-form legend {
  width: 100%;
  line-height: 38px;
  font-size: 30px;
  font-weight: 300;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto;
}

.signup-form {
  width: 400px;
  padding: 0 40px 10px;
  border-radius: 0 0 8px 8px;
  background: #FAF5F1;
  margin: 0 auto;
} 

.signup-form legend {
  width: 100%;
  line-height: 38px;
  font-size: 30px;
  font-weight: 300;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 0;
}

.add-entry-button {
  display: block;
  width: 75%;
  font-size: 18px;
  font-weight: 500;
  /* text-align: center; */
  color: white;
  background: #844E4D;
  border: 0;
  border-radius: 5px;
  margin-bottom: 0;
  transition: opacity 0.4s;
  margin: 0 auto;
}

.add-entry-button:hover {
  background-color: #946860;
}

.logout-button {
  margin-top: 15px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background: #844E4D;
  border-radius: 3px;
}

.logout-button:hover {
  background-color: #946860;
}

input[type="text"], input[type="password"], button[type="submit"] {
  display: block;
  width: 100%;
  height: auto;
  font-size: 16px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 5px auto 20px;
  transition: opacity 0.4s;
}

button[type="submit"] {
  height: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #844E4D;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #946860;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.login-form p {
  font-size: 17px;
  text-align: center;
  margin: 10px 0 0;
  color: #696969;
}

#signup-link:hover, #login-link:hover {
  color: rgb(158, 88, 88);
}

.invalid-login-modal {
  padding: 10px;
  height: auto;
  width: 250px;
  text-align: center;
  font-weight: bold;
  size: 20px;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

/* dashboard */
.logout-button {
  float: right;
}

/* dashboard entries */
.entries-results {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-left: 0;
}

.entries-results > li {
  margin-bottom: 16px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(228, 226, 227);
  box-shadow: 5px 5px 2px lightgrey;
  padding: 0 20px;
}

.entry-item {
  display: block;
  color: grey;

  font-size: 16px;
  margin-bottom: 15px;
}

/* add and edit entry modals */
.add-entry-modal {
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 10px grey;
  padding: 10px;
  margin: 10px auto 10px auto;
  position: fixed;
  top: 25%;
  background-color: white;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
}

#notes-field {
  width: 90%;
  display: block;
}

.entry-controls {
  float: right;
  padding: 10px;
  border-radius: 2px;
}

.opaque {
  opacity: .3;
}
